@font-face {
    font-family: 'Metropolis';
    src: url(/assets/Metropolis-Regular.woff2) format('woff2'),
         url(/assets/Metropolis-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/MaterialSymbolsOutlined-Regular.woff2) format('woff2');
}

html {
    height: 100%;
}

body {
    font-family: 'Metropolis', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eee;
    background-color: #26242c;
    height: 100%;
    margin: 0;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.main {
    display: flex;
    width: 720px;
    height: 100%;
    padding: 32px 12px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.25;
}

.footer {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #aaa;
    text-align: center;
}

.footer-spacer {
    height: 12px;
}

.brand-banner {
    user-select: none;
    pointer-events: none;
}

.brand-caption {
    margin-top: 8px;
    color: #aaa;
    text-align: center;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#mainInput {
    border: none;
    outline: none;
    padding: 0 12px;
    width: calc(100% - 24px);
    height: 32px;
    background-color: #151418;
    color: #eee;
    border-radius: 8px;
    border: 1px solid #26242c;
    transition: 0.2s;
}

#mainInput:hover {
    border: 1px solid rgba(0, 199, 230, 0.25);
}

.input-wrapper {
    width: 100%;
    position: relative;
}

.input-wrapper.focus .input-border {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.input-border {
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    box-shadow: 0 0 4px 2px rgba(0, 199, 230, 0.25);
    border-radius: 8px;
    opacity: 0;
    transition: 0.2s;
}

.button {
    display: block;
    background: none;
    background-color: #00bbd7;
	color: inherit;
	border: none;
	padding: 8px 16px;
	font: inherit;
    font-weight: 600;
	cursor: pointer;
	outline: inherit;
    border-radius: 8px;
    transition: 0.2s;
    user-select: none;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #009fb8;
}

.button:disabled {
    background-color: #008499;
    cursor: not-allowed;
}

.button.secondary {
    background-color: #43404e;
}

.button.secondary:hover {
    background-color: #3b3943;
}

.button.secondary:disabled {
    background-color: #302e36;
}

#submitButton {
    position: relative;
    flex: 0 0 auto;
    padding: 0;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    transition: 0.2s;
}

#submitButton.hide {
    pointer-events: none;
    background-color: transparent;
    color: transparent;
}

.form {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

#appDetailsBox {
    background-color: #151418;
    width: calc(100% - 32px);
    border-radius: 8px;
    
    height: 0;
    overflow: hidden;
    padding: 0 16px;
    margin-top: 0;
    opacity: 0;
    transition: 0.3s;
}

#appDetailsBox.show {
    padding: 16px;
    margin-top: 16px;
    opacity: 1;
}

.app-details-outer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.app-details-inner {
    display: flex;
    align-items: flex-start;
    min-width: 0;
}

#appIcon {
    width: 96px;
    height: 96px;
    border-radius: 8px;
}

.app-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    justify-content: space-between;
    min-width: 0;
}

#appName {
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#appCompany {
    font-size: 14px;
    margin-bottom: 16px;
}

#downloadBox {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
}

#loadingIcon {
    position: absolute;
    left: 4px;
    top: 4px;
    color: #eee;
    z-index: -1;
    transform-origin: 11.8px 11.8px;
}

#loadingIcon.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#modalShadow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    transition: 0.2s;
}

#modalShadow.show {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: unset;
}

.modal {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: #26242c;
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.modal.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: unset;
}

#challengeModal {
    width: unset;
}

.modal.dialog {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    max-height: 100vh;
    overflow: auto;
}

.modal.dialog .icon {
    color: #aaa;
    margin-bottom: 2px;
}

.modal.dialog h2 {
    margin: 0 0 12px 0;
}

.modal.dialog .body {
    margin-bottom: 12px;
}

.modal.dialog .buttons {
    display: flex;
}

.modal.dialog .buttons .button {
    margin-right: 4px;
    flex-grow: 1;
    flex-basis: 1;
}

.modal.dialog .buttons .button:last-child {
    margin-right: 0;
}

.download-na {
    background-color: #5d2020;
    border: 1px solid #b11f1f;
    padding: 8px 12px;
    text-align: center;
    display: none;
}

#downloadBox .button {
    margin-bottom: 8px;
}

#downloadBox.na #downloadButton {
    display: none;
}

#downloadBox.na .download-na {
    display: block;
}

#splitsDialogBody .button, #xapkDialogSplits .button {
    margin-bottom: 4px;
}

#splitsDialogBody .button:last-child, #xapkDialogSplits .button:last-child {
    margin-bottom: 0;
}

.file-input {
    display: block;
    border: 2px dashed #43404e;
    padding: 8px;
}

#xapkDialogBody {
    display: flex;
    flex-direction: column;
}

#xapkDialogBody .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    border-bottom: 1px solid #474352;
    padding-bottom: 12px;
}

#xapkDialogBaseDl, #xapkDialogSplits {
    margin: 8px 0;
}

#xapkDialogSplits {
    max-height: 108px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
}

@media screen and (max-width: 720px) {
    .main {
        width: 100%;
    }

    #downloadBox {
        margin-left: 0;
        margin-top: 16px;
    }

    .app-details-outer {
        flex-direction: column;
        align-items: center;
    }

    .app-details-inner {
        width: 100%;
    }

    #downloadBox {
        flex-direction: row;
        min-width: unset;
    }

    #downloadBox .button {
        margin-right: 4px;
    }

    #splitsButton {
        margin-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .app-details-outer {
        align-items: stretch;
    }

    #downloadBox {
        flex-direction: column;
        min-width: unset;
    }

    #downloadBox .button {
        margin-right: 0;
    }
}

@media screen and (max-width: 310px) {
    .brand-banner {
        width: 100%;
    }
}